<script src="sort-table.js"></script>
<link rel="stylesheet" href="sort-table.css">

<meta name="viewport" content="width=device-width">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">



<body>
<h1>Article Impact Score Output</h1>
<h3>Output for search ID {{first_header}}</h3>
<br>
<a class="btn btn-primary" href="/">Start Over</a>
<br><br>
<h4> &emsp;&emsp; "New Algorithm" &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; "Print and Broadcast Boosted (Add 5 per Social)" &emsp;&emsp;&emsp;&emsp;&emsp; "Social Boosted if Shares > 100 Combined" &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; "Both Boosted"</h4>
{% for table in tables %}
<table class="js-sort-table" style="margin-left:2.0%;margin-right:2.0%;width:20%;display:inline-block;float:left"><tr><td>
    {{table|safe}}
</td></tr></table>
{% endfor %}
<br><br>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>



