<!DOCTYPE html>
{% autoescape true %}

<html>
    <head>
        {% block head %}
        <title>Article Impact Score</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();
        }
// ]]></script>
<div class="container">
      <img src="{{url_for('static', filename='cision.png')}}" />
        {% endblock %}
    </head>
    <body>

        {% block content %}
            <div class="container">
            <div class="row">
            <br> <br> <br> <br>
            <p> Here we are in the content that will be replaced by each template.</p>
            </div>
            </div>
        {% endblock %}

        <!-- *********************** Footer **********************-->

            <br>
          <p><small>Alpha Demo. Please report all bugs to
          <a href="mailto:mallory.brandt@cision.com?Subject=Article%20Impact%20Score%20Feedback" target="_top">mallory.brandt@cision.com</a>.
          </small>
          </p>
        </div>
    </body>
</html>
{% endautoescape %}
