{% extends "base.html" %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
<style>
  .container {
    max-width: 1000px;
  }
</style>
<body>
  <h1>Boolean Recommender</h1>
    <h3>Instructions:</h3>
    <br>
    <h4>Create a search and save it. Within your search, in the statement containing the list of terms you want to include, <mark class="red">insert OR " "</mark> (example below). This will not affect your search, and it will allow our service to look for that and insert new terms into the search to evaluate (not changing your search, only assessing and storing certain information within the app).</h4>
    <h4>Access the main screen and enter in the search ID from your saved search. For this example we’ll use search 3191909. This is for the search:<br>Boeing AND ("737-max" OR "crash" OR "max 8" OR " ")</h4>
    <br>
    <img src="{{url_for('static', filename='recommender_start_screen.png')}}" width="700"/>
    <br>
    <h4>After you click “Submit” you will see a loading message pop up. This can take a few seconds to a few minutes, depending on how big the search is. Here is where the themes mentioned before come into play. What it’s doing is it is pulling in each term you’ve decided to include in the base boolean search (and ignoring anything in the NOT statement) and then pulling in all of the themes returned for all of the articles in the search. It then compares each theme to each term in the search that you’ve chosen to include and looks to see if the theme is similar. It scores the similarity of the terms and keeps a list of similar terms that meets cutoff criteria. It then it injects each term back into the search and counts how many articles are returned.<br><br>When the app completes, you’ll see a list of terms that have been dubbed 1) similar to the terms you’ve already included and 2) add URL’s to the search (sorted on number added). Select “Yes” for any terms you decide you want to include. For example, here we’ve chosen “deadly crashes,” “fatal crashes,” “flight control system,” “final report,” “anti-stall system,” and “faulty sensor.”</h4>
    <br>
    <img src="{{url_for('static', filename='optimize_list.png')}}" width="600"/>
    <br>
    <h4>Once you have everything selected that you want to include, scroll to the bottom and select “Optimize Boolean with choices.”</h4>
    <br>
    <img src="{{url_for('static', filename='pass_choices.png')}}" width="600" />
    <br>
    <h4>This will auto-generate a new boolean search that you can copy/paste into the client’s current search in the dashboard. As you can see here, we’ve increased the number of URL’s by 20,519. NOTE: This was a basic search meant to be used as an example, so do not expect to increase URL’s by this many for your specific searches. As they say, “results may vary” - you may increase your search results from a few to a few thousand depending on the search</h4>
    <br>
    <img src="{{url_for('static', filename='final_screen.png')}}" width="600" />
    <br>
    <br>
    <br>
</body>
<br>
<a class="btn btn-primary" href="/">Start Over</a>
{% endblock %}
