{% extends "base.html" %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
<style>
  .container {
    max-width: 1000px;
  }
</style>
<body>
  <h1>Boolean Recommender</h1>
  <div class="col-sm-5 col-sm-offset-1">
    <h4>Oops, you forgot to enter a search id!</h4>
    <br>
  </div>
</body>
<br>
<a class="btn btn-primary" href="/">Start Over</a>
{% endblock %}
