{% extends "base.html" %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
<style>
  .container {
    max-width: 1000px;
  }
</style>
<body>
<h1>Article Impact Score Demo</h1>
<div class="form-group">
    <form action="/show" method="post">
        <input type="text" name="boolean" class="form-control" id="boolean-box" placeholder="Enter Search ID..." style="max-width: 500px;">
        <br>
        <label for="entity_title_mention">Entity in Title Weight:</label>
        <select id="entity_title_mention" name="entity_title_mention">
            <option value="1">0.0</option>
            <option value="50">0.1</option>
            <option selected="selected" value="50">0.2</option>
            <option value="150">0.3</option>
            <option value="175">0.4</option>
            <option value="200">0.5</option>
            <option value="225">0.6</option>
            <option value="250">0.7</option>
            <option value="275">0.8</option>
            <option value="300">0.9</option>
            <option value="325">1.0</option>
        </select>
        <br/>
        <label for="entity_content_mentions">Entity in Content Weight:</label>
        <select id="entity_content_mentions" name="entity_content_mentions">
            <option value="1">0.0</option>
            <option selected="selected" value="10">0.1</option>
            <option value="50">0.2</option>
            <option value="75">0.3</option>
            <option value="100">0.4</option>
            <option value="125">0.5</option>
            <option value="150">0.6</option>
            <option value="175">0.7</option>
            <option value="200">0.8</option>
            <option value="225">0.9</option>
            <option value="250">1.0</option>
        </select>
        <br/>
        <label for="social_sum">Social Shares Weight:</label>
        <select id="social_sum" name="social_sum">
            <option value="1">0.0</option>
            <option value="50">0.1</option>
            <option value="100">0.2</option>
            <option selected="selected" value="150">0.3</option>
            <option value="175">0.4</option>
            <option value="200">0.5</option>
            <option value="225">0.6</option>
            <option value="250">0.7</option>
            <option value="275">0.8</option>
            <option value="300">0.9</option>
            <option value="325">1.0</option>
        </select>
        <br/>
        <label for="sentiment">Sentiment Weight:</label>
        <select id="sentiment" name="sentiment">
            <option value="1">0.0</option>
            <option selected="selected" value="5">0.1</option>
            <option value="50">0.2</option>
            <option value="75">0.3</option>
            <option value="100">0.4</option>
            <option value="125">0.5</option>
            <option value="150">0.6</option>
            <option value="175">0.7</option>
            <option value="200">0.8</option>
            <option value="225">0.9</option>
            <option value="250">1.0</option>
        </select>
        <br/>
        <label for="monthly_visits">Readership Weight:</label>
        <select id="monthly_visits" name="monthly_visits">
            <option value="1">0.0</option>
            <option value="50">0.1</option>
            <option selected="selected" value="125">0.2</option>
            <option value="150">0.3</option>
            <option value="175">0.4</option>
            <option value="200">0.5</option>
            <option value="225">0.6</option>
            <option value="250">0.7</option>
            <option value="275">0.8</option>
            <option value="300">0.9</option>
            <option value="325">1.0</option>
        </select>
        <br/>
        <label for="domain_auth">Domain Authority Weight:</label>
        <select id="domain_auth" name="domain_auth">
            <option value="1">0.0</option>
            <option value="25">0.1</option>
            <option selected="selected" value="50">0.2</option>
            <option value="75">0.3</option>
            <option value="100">0.4</option>
            <option value="125">0.5</option>
            <option value="150">0.6</option>
            <option value="175">0.7</option>
            <option value="200">0.8</option>
            <option value="225">0.9</option>
            <option value="250">1.0</option>
        </select>

        <br/><br/>
        <button name="submit_button" type="submit" value="get two tables" class="btn btn-default" onclick="$('#loading').show();">Submit: Side by Side Tables</button>
        <button name="submit_button" type="submit" value="get one table" class="btn btn-default" onclick="$('#loading').show();">Submit: All One Table</button>
        <button name="submit_button" type="submit" value="compare different algorithms" class="btn btn-default" onclick="$('#loading').show();">Submit: Compare all algorithms</button>
    </form>
    <div id="loading" style="display:none;"><img src="/static/loading.gif" alt="" />Loading! Go grab a coffee, this will take a minute...</div>
    <br><br><br>
    {% if error %}
    <h4>{{ error }}</h4>
    {% endif %}
    <br>
</div>
</body>

{% endblock %}
